#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}


.top {
    position: relative;
}

.first {
    /*position: relative;*/
}

.second {
    top: 0;
    /*position: absolute;*/
}

::highlight(example) {
    background-color: rebeccapurple;
    color: whitesmoke;
}

::highlight(partial) {
    background-color: goldenrod;
    color: black;
}
